<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/coffee.css" rel="stylesheet">
    <title>Réserver - Machine à Café</title>
</head>
<body>
    <h1>GABIN’Machines</h1>
    <div class="header">
        <br>
        <div class="separate">
            <button class="log_button"  onclick="window.location.href='/index'">Home
            </button></div>
        <div class="separate">
        <button class="log_button" onclick="window.location.href='/micro-waves'">Micro-ondes
        </button>
        </div>
        <div class="separate">
            <button class="log_button" onclick="window.location.href='/fridge'">Réfrigirateur
            </button>
            </div>
    </div>
    <div class="presentation-text">
        <p>Réservez votre horaire pour la Machine à Café</p>
    </div>
    <div class="calendar-container">
        <div class="day-column" th:each="day : ${days}">
        <button th:each="timeSlot : ${timeSlots}"
        th:text="${timeSlot}"
        class="time-button"></button>
        </div>
    </div>
</body>
</html>