<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/index.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>GABIN’Machines</h1>
    <h2>Home Page</h2>
    <div class="header">
        <button type="button" onclick="window.location.href='/login'" class="btn btn-primary">Login</button>
        <button type="button" onclick="window.location.href='/authenticate'" class="btn btn-primary">Register</button>
    </div>
    <div class="presentation-text">
        <p>Réservez votre horaire, choisissez votre GABIN’Machines</p>
    </div>
    <div class="div_group">
        <button type="button" onclick="window.location.href='/micro-waves'" class="btn btn-primary">Micro-Ondes</button>
        <button type="button" onclick="window.location.href='/fridge'" class="btn btn-primary">Réfrégirateur</button>
        <button type="button" onclick="window.location.href='/coffee'" class="btn btn-primary">Machine à café</button>
    </div>
</div>
</body>
</html>
