<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/micro-waves.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>GABIN’Machines</h1>
    <h2>Acceuil</h2>
    <div class="header">
        <h1>Micro-ondes</h1>
    </div>
    <div class="div_group">
        <h2>Indiquez le temps nécesssaire</h2>
        <div class="mb-3">
            <div class="time-group">
                <form action="#" method="post" th:action="@{/reserve}" th:object="${duration}">
                    <label for="minutes">Minutes</label>
                    <input th:field="*{minutes}" type="text" id="minutes" name="minutes" required class="form-control"/>
                    <label for="seconds">Secondes</label>
                    <input th:field="*{seconds}" type="text" id="seconds" name="seconds" required class="form-control"/>
                    <button type="submit" onclick="window.location.href='/reserve'" class="btn btn-primary">Réservez</button>
                 </form>-
             </div>
         </div>
         <button type="button" onclick="window.location.href='/reservations'" class="btn btn-primary">Voir les <br> réservations</button>
     </div>
 </div>
 </body>
 </html>
