<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/reserve.css}" rel="stylesheet">
    <style>
        .card {
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>GABIN’Machines</h1>
    <h2>Reservez</h2>
    <div class="header">
        <h1>Micro-ondes</h1>
    </div>
    <div class="row">
        <div class="col-md-4" th:each="microWave : ${#ctx.session.availabilites}">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>Micro-onde [[${microWave.microWaveId}]]</h3>
                </div>
                <div class="card-body">
                    <ul>
                        <li th:text="${microWave.startDate}"></li>
                        <li th:text="${microWave.endDate}"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
